.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  &__content {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 3px 14px 0px #0000005c;
}

  &__delete_btn {
    margin-right: 8px;
    margin-left: auto;
    border: none;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
  }

  &__close-btn{
    position: relative;
    margin-left: auto;
    bottom: 14px;
    left: 6px;
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: transparent;
  }
}

.overlay {
  position: fixed;
  // top: 0;
  // left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0438e4;
  // z-index: 10;
}