.event {
  position: absolute;
  width: 80%;
  background-color: rgb(215, 219, 239);
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 8px;
  }
  &__description {
      width: 100%;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 8px;
      color: rgb(75, 75, 75);
  }

  &:hover {
    font-weight: bold;
    background-color: rgb(182, 214, 206);
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}